.page{
	height: 300px;
	border: 1px solid darkred;
	display: flex;
	justify-content: space-between;
	background: gray;
	font-family:sans-serif;
	margin: 0;
	margin-left: 50px;
	margin-right: 50px;
}
.ch__1{
	height: 250px;
	border: 1px solid yellow;
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 0;
}
.ch__1__3{
	margin-top: 130px;
	border: 1px solid darkred;
	margin: 0;
}
.sergey_popkov{
	display: flex;
}
.vopros{
	border: 1px solid seagreen;
	width: 300px;
}
.ch__1__2{
	border: 1px solid darkred;
	height: 120px;
}
.ch__1__1{
	border: 1px solid darkred;
	height: 120px;
}

.sigma{
	display: flex;
	flex-direction: row;
}

.ch__2{
	margin: 0;
	border: 1px solid red;
	margin-left: 100px;
	width: 350px;

}


.contact{
	border: 1px solid red;
	width:  200px;
}


.contacts{
	width: 30px;
	height: 30px;
	margin-top: 130px;
	margin-left: 20px;
}

.contacts:hover{
	opacity: 0.5;
}